<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<% if (username) { %>
        <%=  user[username].email %>
        <form method="POST" action="/logout">
        <input type="submit" value="LOGOUT"></form>
      <% } else { %> 
					<a href="http://localhost:3000/login">Login</a>
					<a href="http://localhost:3000/user/register">Register</a>
      <% } %>              
		</div>
	  
	</div>
</nav>