<!DOCTYPE html>
<html lang="en">
		<div>
			<% if (username) { %>
        Currently logged in as: <b> <%=  user[username].email %> </b>
        <form method="POST" action="/logout">
        <input type="submit" value="LOGOUT"></form>
      <% } else { %> 
					<a href="http://localhost:8080/login">Login</a>
					<a href="http://localhost:8080/register">Register</a>
      <% } %>              
		</div>
</html>
