<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
<main>
  <div class="navbar-header">
			<% if (username) { %>
        <%=  user.users.id %>
        <form method="POST" action="/logout">
        <input type="submit" value="LOGOUT"></form>
      <% } else { %> 
			  <form method="POST" action="/login">
                    email: <input type="email" name="email">
                    password: <input type="password" name= "password">
                    <input type="submit" value="LOGIN"></form>
      <% } %>              
	</div>
</main>
</body>