<!DOCTYPE html>
<html lang="en">
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="" method="POST" action="/register" style="margin:150px;">
      <label for="email">Enter an email:</label>
      <input type="email" name="email" placeholder="" style="width: 300px">
      <label for="password">Enter a password:</label>
      <input type="password" name="password" placeholder="" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>