<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <main> 
        <div> 
            <h1>List of URLs</h1>
            <ul> 
                <% for (const keys in urls) {
                    if (username === keys) { %>
                    <li><%= keys %> - <%= urls[keys] %>
                    <form method="POST" action="/urls/<%= keys %>/delete">
                    <input type="submit" value="DELETE"></form>
                    <form  action="/urls/<%= keys %>">
                    <input type="submit" value="EDIT"></form></li>
                <% }}; %> 
            </ul>
            <a href="http://localhost:3000/urls/new"> Shorterning a new URL</a>
        </div>
    </main> 
</body>
</html>