<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>

<body>
    <main> 
        <div> 
            <h1>This is urls_show</h1>
                <ul> 
                    <%= urls[shortURL] %>
                    <%= shortURL %>
                </ul>
        </div>
    </main> 
</body>
</html>