<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <main> 
        <div> 
            <h1>List of URLs</h1>
            <ul> 
                <% for (const keys in userUrls) { %>
                    <!--if (username === keys) { %>-->
                    <li><%= userUrls[keys].shortURL %> - <%= userUrls[keys].longURL %>
                    <form method="POST" action="/urls/<%= keys %>/delete">
                    <input type="submit" value="DELETE"></form>
                    <form  action="/urls/<%= keys %>">
                    <input type="submit" value="EDIT"></form></li>
                <% }; %> 
            </ul>
            <a href="http://localhost:3000/urls/new"> Create New Short URL</a>
        </div>
    </main> 
</body>
</html>