<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <main>  
        <div> 
            <h1>This is urls_show</h1>
                <ul> 
                    <%= urls[shortURL] %>
                    <%= shortURL %>
                    <form method="POST" action="/urls/<%= shortURL %>/update">
                    New URL: <input type="text" name="newURL">
                    <input type="submit" value="UPDATE"></form>
                </ul>
        </div>
    </main> 
</body>
</html>